h2{
    font-size: 30px;
    text-align: center;
}
main{
    padding: 20px;
}
.search{
    padding: 20px;

    
}
.symbol{
    padding: 20px;
    justify-content: center;
    text-align: center;
    background-color: rgb(63, 63, 58);
}
#output{
    margin-top: 20px;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    gap: 40px;

}
#symboloutput{
    margin-top: 20px;
    font-size: 20px;
    color: #f0f8ff;
}
.symbol input{
    border: 1px solid transparent;
}